# Домашнее задание

### Задание 1

Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [40]:
import pandas as pd

In [68]:
movies = pd.read_csv('movies.csv')
ratings = pd.read_csv('ratings.csv')
joined = ratings.merge(movies, on='movieId', how='left').groupby('title')['title', 'rating'].mean().reset_index()

In [69]:
def class_(row):
    if row <= 2:
        return 'низкий рейтинг'
    elif row <= 4:
        return 'средний рейтинг'
    else:
        return 'высокий рейтинг'

In [70]:
joined['class'] = joined['rating'].apply(class_)
joined[['title', 'rating', 'class']].head()

                                     title  rating            class
0                               '71 (2014)     4.0  средний рейтинг
1  'Hellboy': The Seeds of Creation (2004)     4.0  средний рейтинг
2                   'Round Midnight (1986)     3.5  средний рейтинг
3                      'Salem's Lot (2004)     5.0  высокий рейтинг
4                'Til There Was You (1997)     4.0  средний рейтинг

### Задание 2

Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']

}

Результат классификации запишите в отдельный столбец region.

In [7]:
geo_data = {
'Центр': ['моск', 'тул', 'ярославл', 'ярославс'],
'Северо-Запад': ['петербург', 'псков', 'мурманск'],
'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

In [8]:
def add_geo_data(row):
    for key, value in geo_data.items():
        for x in value:
            if x in row:
                return key
    return 'undefined'

In [9]:
queries = pd.read_csv('keywords.csv')
queries['region'] = queries['keyword'].apply(add_geo_data)

In [11]:
check = queries[queries['region'] != 'undefined']
check.head(20)

                                 keyword   shows          region
127                         авито москва  979292           Центр
143                           эхо москвы  889657           Центр
155   школьный портал московской области  836987           Центр
197                      погода в москве  745745           Центр
370             авито ру санкт петербург  425134    Северо-Запад
414           погода в москве на 14 дней  400914           Центр
512                   карта метро москвы  331857           Центр
564            погода в санкт петербурге  292489    Северо-Запад
584                   схема метро москвы  374592           Центр
647               портал госуслуг москвы  263844           Центр
652                      работа в москве  265000           Центр
792                         метро москвы  221363           Центр
798                     московское время  238708           Центр
849                      авито ярославль  209581           Центр
987                         карта москвы  186108           Центр
1011                         банк москвы  182666           Центр
1063                 фарпост владивосток  176951  Дальний Восток
1136  госуслуги москвы портал pgu mos ru  166946           Центр
1236                банк санкт петербург  174375    Северо-Запад
1259                              москва  153050           Центр

### Задание 3 (бонусное)

Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл ratings.csv из базы https://grouplens.org/datasets/movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

1) В переменную years запишите список из всех годов с 1950 по 2010.

2) Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:

- для каждой строки пройдите по всем годам списка years

- если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска

- если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год

3) Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’

4) Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга

In [12]:
movies = pd.read_csv('movies.csv')
ratings = pd.read_csv('ratings.csv')
joined = ratings.merge(movies, on='movieId', how='left')

In [13]:
years = []
for x in range(1950, 2011):
    years.append(x)

In [14]:
def production_year(row):
    try:
        if row[len(row)-1] == ' ':
            a = len(row)-2
            b = len(row)-6
            row_ = int(row[b:a])
            for x in years:
                if x == row_:
                    return x
            return 1900
        else:
            a = len(row)-1
            b = len(row)-5
            row_ = int(row[b:a])
            for x in years:
                if x == row_:
                    return x
            return 1900
    except:
        return 1900

In [15]:
joined['year'] = joined['title'].apply(production_year)
sample_by_year = joined.groupby('year')
sample_by_year.mean()[['rating']].sort_values('rating', ascending=False).head()

        rating
year
1957  4.039535
1954  4.009191
1962  3.969466
1952  3.953125
1964  3.940160

In [289]:
joined['year'] = joined['title'].apply(production_year)
joined.to_excel('check.xlsx')